html, body, .container, .cbp-fbscroller, .cbp-fbscroller section {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'quicksand regular', verdana, Arial, sans-serif;
    color: #333;
    background: #fff;
    overflow: hidden;
}

page {
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 150%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.link_root {
    width: 100px;
    height: 100%;
    display: flex;
    position: absolute;
    color: #f0f9f9;
    z-index: 5;
    font-size: small;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.bg_base {
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.bg_tree {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.button_root {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 4;
    position: absolute;
    flex-direction: column;
    align-items: center;
}

.input_block_root {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(31, 31, 31, 0.55);
}

.link_item {
    width: 100%;
    margin-top: 20px;
    display: flex;
    color: #7af9f2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.visitCount {
    color: #851a1e;
    font-size: medium;
    position: absolute;
    left: 4%;
    bottom: 4%;
}

.root {
    /*background: url(../img/bg_zero.jpg) no-repeat center center fixed;*/
    background-size: cover;
    width: 100%;
    height: 100%;
}

.title {
    font-size: xx-large;
    color: #851a1e;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button {
    width: 40%;
    height: 10%;
    margin: 20px;
    display: inline-block;
    color: #851a1e;
    direction: ltr;
    letter-spacing: 5px;
    font-style: normal;
    line-height: 10px;
    text-align: center;
    text-shadow: blueviolet;
    font-size: medium;
    outline: #851a1e double thick;
    background-image: url('../img/bg_texture.png');
}

.input_block {
    width: 20%;
    height: 30%;
    background: white;
    border-radius: 3%;
    display: flex;
    font-size: small;
    flex-direction: column;
    align-items: center;
}

.acc_input {
    width: 80%;
    height: 15%;
    border-radius: 3%;
    margin: 2%;
}

.login_btn {
    width: 30%;
    height: 50%;
    color: #851a1e;
    margin-left: 5%;
    margin-right: 5%;
    font-size: small;
    background-image: url('../img/bg_texture.png');
}

.login_btn_1 {
    width: 30%;
    height: 50%;
    color: #851a1e;
    margin-left: 5%;
    margin-right: 5%;
    font-style: normal;
    text-align: center;
    text-shadow: blueviolet;
    font-size: small;
    outline: #851a1e double thick;
    background-image: url('../img/bg_texture.png');
}